<!doctype html>
<html lang="en">

<head>
    <title>Đổi mật khẩu</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-5" style="margin-top: 120px;">
                <div class="nap">
                    <div style="background-color:  rgb(52,58,64);padding-top: 25px; height: 100px; text-align: center;">
                        <a href="/users">
                            <span style="color: rgb(255,101,0);font-size: 40px;">Vie</span>
                            <span style="color: white;font-size: 40px;">Pay</span>

                        </a>
                    </div>

                    <form method="post" action="" style="margin-left: 40px; margin-right: 40px;">
                        <div class="form-group" style="margin-top: 20px;">
                            <label for="password">Mật khẩu cũ</label>
                            <input name="password" id="password" type="password" class="form-control"
                                placeholder="Nhập mật khẩu cũ">
                        </div>
                        <div class="form-group">
                            <label for="password">Mật khẩu mới</label>
                            <input name="newpassword" id="newpassword" type="password" class="form-control"
                                placeholder="Nhập mật khẩu mới">
                        </div>
                        <div class="form-group">
                            <label for="password">Nhập lại mật khẩu mới</label>
                            <input name="cfpassword" id="cfpassword" type="password" class="form-control"
                                placeholder="Nhập lại mật khẩu mới">
                        </div>
                        <div class="form-group">
                            <% if (error.length> 0) { %>
                                <div class="alert alert-danger alert-dismissible fade show">
                                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                                    <%= error %>
                                </div>
                                <% } %>
                        </div>
                        <div class="form-group text-center">
                            <div class="form-group">
                                <p class="text-center">
                                    <button class="btnn" style="margin-bottom:20px;width:35%">Đổi mật khẩu</button>
                                    <a href="./home">
                                        <button class="btnn"
                                            style="width:35%; background-color: rgb(220,53,69); margin-bottom: 20px;">Quay
                                            lại</button>
                                    </a>

                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>