
<header>
    <nav class="navbar  navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
          
                <div class="navbar-header">
                    <a href="/admin/danhsachtaikhoan/TK1" style="width:60%">
                        <span id='vie'>Vie</span>
                        <span id="pay">Pay</span>
                    </a>
                </div>
            <ul class="nav navbar-nav  " >
                <li class="dropdown"><a href="/admin/lichsugiaodich" style="color:white; margin-right: 20px;">Lịch sử giao dịch</a>
                    <ul class="dropdown-content" >
                        <a  href="/admin/lichsugiaodich/0">Thành công</a>
                        <a  href="/admin/lichsugiaodich/2">Từ chối</a>
                        <a  href="/admin/lichsugiaodich/1">Đang chờ duyệt</a>
                    </ul>
                </li>
                <li class="dropdown"><a style="color:white;margin-right: 30px; ">Danh sách tài khoản</a>
                    <ul class="dropdown-content" >
                        <a  href="/admin/danhsachtaikhoan/TK1">Đang chờ kích hoạt</a>
                        <a  href="/admin/danhsachtaikhoan/TK2">Đã kích hoạt</a>
                        <a  href="/admin/danhsachtaikhoan/TK3">Vô hiệu hoá</a>
                        <a  href="/admin/danhsachtaikhoan/TK4">Bị khoá vô thời hạn</a>
                        <a  href="/admin/danhsachtaikhoan/TK5">Đang chờ cập nhập</a>
                    </ul>
                </li>
                <li><a style="color: white; " href="/logout">Đăng xuất</a></li>
               
                
            </ul>
        </div>
    </nav>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</header>


</html>