<!doctype html>
<html lang="en">

<head>
    <title>Home User</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <%- include('header_user.ejs',{fullname:fullname}) %>

        <div class="container" style="flex-direction: column;padding-top:30px">
            <div class="row">

                <a href="/users/naptien">
                    <div class='mt-4 col-lg-3 col-md-6 col-sm-12 z'>
                        <div class="b">
                            <div class="card">
                                <div class="bg">
                                    <img src="../image/wallet.png" class="img">
                                </div>
                                <div class="text">
                                    <a><b>Nạp tiền vào ví</b></a></br>
                                    <h6 style="color: rgb(255,101,0); float: right;margin-right: 10px;">
                                        <b>
                                            <%= soduvi %> VNĐ
                                        </b>
                                    </h6>
                                </div>
                            </div>

                        </div>

                    </div>
                </a>
                <a href="/users/ruttien">
                    <div class='mt-4 col-lg-3 col-md-6 col-sm-12 '>
                        <div class="b">
                            <div class="card">
                                <div class="bg">
                                    <img href="" src="../image/bank.png" class="img">
                                </div>
                                <div class="text">
                                    <a><b>Rút tiền về tài khoản</b></a>
                                </div>
                            </div>
                        </div>

                    </div>
                </a>
                <a href="/users/chuyentien">
                    <div class='mt-4 col-lg-3 col-md-6 col-sm-12 '>
                        <div class="b">
                            <div class="card">
                                <div class="bg">
                                    <img src="../image/bank-transfer.png" class="img">
                                </div>
                                <div class="text">
                                    <a><b>Chuyển tiền</b></a>
                                </div>

                            </div>

                        </div>

                    </div>
                </a>
                <a href="/users/muathedienthoai">
                    <div class='mt-4 col-lg-3 col-md-6 col-sm-12 '>
                        <div class="b">
                            <div class="card">
                                <div class="bg">
                                    <img src="../image/phone.png" class="img">
                                </div>
                                <div class="text">
                                    <a><b>Mua thẻ điện thoại</b></a>
                                </div>
                            </div>

                        </div>

                    </div>
                </a>
            </div>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>


</html>