<!doctype html>
<html lang="en">

<head>
    <title>Khôi phục mật khẩu</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/style.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-6" style="text-align: center; margin-top: 150px;">
                <div class="nap">
                    <div style="background-color:  rgb(52,58,64);padding-top: 25px; height: 100px;">
                        <a href="/users">
                            <span style="color: rgb(255,101,0);font-size: 40px;">Vie</span>
                            <span style="color: white;font-size: 40px;">Pay</span>

                        </a>
                    </div>
                    <div>
                        <form method="post" action="/users/nhapmatkhaumoi" style="margin: 40px; margin-top:20px">
                            <div class="form-group">
                                <label for="email">Vui lòng nhập số điện thoại hoặc email đăng kí tài khoản</label>
                                <input name="email" id="email" type="text" class="form-control"
                                    placeholder="Nhập số điện thoại/ email">
                            </div>
                            <div class="form-group text-center">
                                <button class="btnn" style="margin-bottom: 30px;">Gửi</button>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>